<!DOCTYPE html>
<html>
<head>
	<title>Reset Password Form</title>
</head>	
<body>
	<form action="/reset_pass" method="post">
	  <input type="hidden" name="id" value=<%= @user.id %>>	
	  New Password: <input type="password" name="password"><br>
	  Verify Password: <input type="password" name="pass_confirm"><br>
	  <input type="submit" value="Submit">
	</form>
</body>	
</html>