<p>Dear <%= @user.first_name %>,</p>
<br />
<p>You have requested a password reset. If this is not initiated by you, please ignore this email.
To reset your password, please proceed to this link:</p>
<br />
<p>http://localhost:4567/reset_password/<%= @user.token %></p>
<br />
<br />   
<p>Administrator</p>

