<div id='navigation' class="clearfix"></div>
<div id="content_wrapper">
<div id='content'>
	<div class="login_view">
		<img src="tangerine_logo.png" id="login_logo">
		<div><h3>Reset My Password</h3>
		<form action="/reset_password" method="post">
		  Username: <input type="text" name="username"><br>
		  <button class="login" type="submit">Proceed</button>
		</form>
	</div>
</div>
</div>