<!DOCTYPE html>
<html>
<head>
	<title>Email Verified</title>
<body>
	<div>Your email address has been verified.</div>
    <div>Click this link to login into your account</div>
	<div><a href ="http://localhost:4567/login">Login</a></div>
</body>	
</html>