<div class="container">
	<h2>Welcome...</h2>
	<div class="container">
	   <div><a href="/people"><img src="/person.png"> Case Profiles</a></div>	
	   <div><a href="/labs"><img src="/labs.png"> Laboratory Records</a></div> 
	</div>   
</div>